table {
    width: 100%;
    background-color: white;
    table-layout:fixed;
  }
  /* .mat-cell,.mat-header-cell
  {
      word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  } */
  .mat-row:hover .mat-cell {
    background:#e7f4fa;
    cursor: pointer;
  }
 th{
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
    font-size: 16px;
    font-weight: 600;
 }
 td{
  border-bottom:none !important
 }
 td:before { 
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%; 
  padding-right: 10px; 
  white-space: nowrap;
}
 tr{
  display: table-row;
 }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #1a73e8 !important;
  }
  ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1a73e8 !important;
  }
 
  ::ng-deep .mat-checkbox>label span:first-child{
    border-radius: 2px !important;
  }
  .edit-contact
  {
    visibility: visible;
    opacity: 0;
  }
  .mat-row:hover .edit-contact{
    opacity: 1;
  }
  .mat-column-edit {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 17% !important;
    width: 17% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .contact-row
  {
    margin-bottom: 5px;
    border-radius: 10px;
  }

 input[type='text']
 {
  border: none;
  outline: none;
  width: inherit;
  background-color: #fafafa;
  margin-left: 12px;
 }
 .search-bar
 {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  min-height: 40px;
  width: 98%;
  border: #e1dddd 1px solid;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  padding-right: 6px;
 }
 mat-icon
 {
  color:black;
 }
 .popup
{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
}
