<div class="layout">
    <div class="left">
        <div class="main">
            <div class="title">
                Welcome To Manage Your Contacts
                <!-- <img src="./assets/Images/victory-hand.png" alt="" class="victory"> -->
            </div>
            <div class="sign-in-google" (click)="SignIn()">
                <img src="./assets/Images/google_logo.png" alt="google-oauth" class="googlelogo">
                <div class="sign-in-google-txt"> Sign in with Google</div>
            </div>
            <div class="longtext">Mangae your google contacts easily Now. Create, delete and edit your contacts Now. It will sync with google account.</div>
            <!-- <div class="sign-in-fb">
                <img src="./assets/Images/Facebook_logo.svg.png" alt="fb-oauth" class="fblogo">
                <div>Sign in with Facebook</div>
            </div> -->
            <!-- <div class="signinemail">or Sign in with Email</div>
            <div class="email-txt">Email</div>
            <input type="text" class="email" placeholder="Enter Your Emailid">
            <div class="email-txt">Password</div>
            <input type="password" class="Password" placeholder="Enter Your Password">
            <div class="forgetpwd">Forget Password?</div>
            <div class="login">Login</div> -->
            <!-- <footer class="copyright">@2021 Techigai All Rights Reserved</footer> -->
        </div>
    </div>
    <!-- <div class="right">
        <div class="contentbox">
            <div class="right-txt-total">
            <div class="right-txt">Very good works are</div>
            <div class="right-txt2">waiting for you 
            <span><img src="./assets/Images/fingers-crossedpng.png" alt="fingers-cross" class="fingers-cross"></span></div>                    
            <div class="right-txt2">Login Now</div> 
            <div class="vrline"></div> 
            </div>
         <div class="hunderedwithwhite">
            <img src="./assets/Images/100.png" alt="" class="hundered">
        </div> 
        <img src="./assets/Images/girl_with_tablet.png" alt="" class="girl">
       <div class="handshakewithwhite">
                <img src="./assets/Images/handshake.png" alt="" class="handshake">
            </div>
            <div class="hrline"></div>   
        </div>
        <img src="/assets/Images/contact-card.png" alt="" class="contact-card" >
    </div> -->
</div>