


<mat-sidenav-container class="container">
    <mat-sidenav  [opened]="true"   mode="side" #drawer class="slider" [fixedInViewport]="true">
        <mat-nav-list class="slideitems">
            <mat-toolbar >
                <span>Menu</span>
            </mat-toolbar>
            <mat-list-item routerLink="/UserProfile" class="list-item">
                    <mat-icon>person_add</mat-icon>           
                    <span class="listitem-text">Create Contact</span>  
            </mat-list-item>
            <mat-list-item routerLink="/ContactsList" class="list-item">
                <mat-icon>person</mat-icon>    
               <span class="listitem-text">Contacts</span>  
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content >
        <app-header [drawer]=drawer></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>