
.fixedElement {
  position: fixed;
  z-index: 10;
  height: 60px;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fafafa;
  }
  mat-sidenav
  {
    width: 150px;
    height: auto;
    background-color: #273143;
    color: black;
    overflow: hidden;
  }
  :host /deep/ .mat-list-item-content {
    display: flex !important;
    flex-direction: column !important;
  }

  :host  /deep/  .mat-list-base .mat-list-item
  {
    padding:14px 0px
  }
  :host  /deep/  .mat-list-base .mat-list-item:hover
  {
    background-color: #77777726;
  }
  :host  /deep/  .mat-list-base .mat-list-item:active
  {
    background-color: #77777726;
  }
  mat-icon
  {
    color: white;
  }
  mat-nav-list
  {
    color: white !important;
  }
    mat-toolbar
  {
    background-color: #273143;
    color: azure;
    display: flex;
    justify-content: center;
    margin-top: -5px;
  }


  .slideitems
  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-color: #273143;
    
  }
  .mat-list-item
  {
    color: azure;
    height: 100px;
  }
  .header
  {
    height: 70px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  }


 

  